/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor

.DS_Store
Thumbs.db
*.log

.env
.env.backup
.env.production
.phpunit.result.cache

/.codex
/.cursor
/.idea
/.nova
/.vscode
/.zed

/auth.json
/database/*.sqlite

_ide_helper.php
Homestead.json
Homestead.yaml
